.student-item {
  border-bottom: 1px solid #000;
  /* Ajoute une ligne en bas */
  padding: 10px;
  /* Ajoute de l'espace autour du contenu */
  margin-bottom: 10px;
  /* Ajoute de l'espace en dessous de chaque élément */
}

h2,
h3,
h4,
h5 {
  color: #333;
  /* Change la couleur du texte */
}

ion-grid {
  background-color: #f9f9f9;
  /* Change la couleur de fond */
  border-radius: 5px;
  /* Arrondit les coins */
  padding: 10px;
  /* Ajoute de l'espace autour du contenu */
  margin-bottom: 10px;
  /* Ajoute de l'espace en dessous de chaque grille */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}