ion-content {
  background-color: #f9f9f9;
}

.couleur {
  background-color: #4a69bd;
  color: white;
}

.acentrer {
  text-align: center;
}

.formulaire {
  padding: 20px;
  margin-top: 20px;
}

ion-item {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 20px;
}

ion-footer {
  background-color: #4a69bd;
  color: white;
  text-align: center;
  padding: 10px 0;
}