<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="acentrer" style="text-align: center;">
      SchoolApp
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">



  <ion-card>
    <ion-card-header>
      <ion-img [src]="'assets/ok.jpg'"></ion-img>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <p *ngIf="student.length > 0; else emptyList"></p>
    <div *ngFor="let etudiant of student" class="student-item"
      style="display: flex; flex-direction: column; align-items: center; text-align: center;">
      <ion-thumbnail>
        <img src="assets/stu.png" alt="Avatar Level">
      </ion-thumbnail>
      <ion-label>{{etudiant.nom}} {{etudiant.prenom}}</ion-label>
      <ion-label>{{etudiant.classe}}</ion-label>
      <ion-button size="small" color="success" (click)="attribuerdesNotes(etudiant)" class="button-modifier">Ajouter
        Note</ion-button>
    </div>
  </ion-list>

  <ng-template #emptyList>
    <p style="text-align: center;">La liste est vide.</p>
  </ng-template>

  <ng-template #listepleine>
  </ng-template>









</ion-content>

<ion-button expand="block" color="danger" (click)="acceuil()" class="button-home">
  Acceuil
</ion-button>

<ion-toolbar color="primary">

  <p style="text-align: center;">Moussa et Lionel</p>

</ion-toolbar>